.my-button {
    margin: 15px;
    background-color: transparent;
    border: 1px solid #002c34;
    font-size: 0.8em;
    padding: 10px;
    width: 90%;
}

.App-logo {
    width: 70%;
}

.login-page {
    background-color: #002c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #002c34;
    text-align: center;
    .login-box {
        background-color: white;
        box-shadow: 0px 0px 150px 10px black;
        height: 90vh;
        border-radius : label {
            margin-top: 20px;
        }
        input {
            width: 90%;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 10px;
            border-radius: 0;
            &:focus {
                border: 1px solid #002c34;
            }
            &:nth-of-type(1) {
                margin-top: -10px;
            }
        }
        .buttons {}
        .login-box-footer {
            font-size: 0.8em;
            font-weight: 500;
            position: absolute;
            text-align: center;
            height: 8%;
            width: 100%;
            bottom: 0; // background-color: #002c34;
            border-top: 2px solid #002c34;
            line-height: 40px;
            .create-account {
                color: #00d8ff;
                &:hover {
                    color: #002c34;
                }
            }
        }
    }
}